{% extends "base.html" %}
{% load static %}

{% block title %} Tour Detail {% endblock %}

{% block content %}

    {% comment %} <div class="hero-wrap js-fullheight" style="background-image: url('{% static 'images/bg_3.jpg' %}');">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center" data-scrollax-parent="true">
          <div class="col-md-9 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }">
            <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span class="mr-2"><a href="index.html">Home</a></span> <span>Tour</span></p>
            <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Destination</h1>
          </div>
        </div>
      </div>
    </div> {% endcomment %}

	<div id="carouselExampleIndicators" class="carousel slide cs-padding-top" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      {% for image in toursite.featured_images.all %}
      <div class="carousel-item {% if forloop.first %} active {% endif %}">
        <img class="d-block w-100" src="{{image.image.url}}" alt="First slide">
      </div>
      {% endfor %}
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
</div>

	<div class="container">
		<div class="row justify-content-md-center">
			<div class="col-md-auto">
			<h2 class="festival-name">{{toursite.name}} <span class="rating"> <i class="bi bi-star-fill rating-star"></i></i> {{toursite.average_rating}}</span></h2>
			</div>
		</div>

		<div class="row justify-content-md-center">
			<div class="col-md-auto">
				<p class="location-info"> <span style="font-size: 35px; location-icon"><i class="bi bi-geo-alt-fill"></i></span> {{toursite.city}}, {{toursite.city.state}}</p>
    		</div>
		</div>

		<div class="row justify-content-md-center other-info">
			{% comment %} <div class="col-md-auto other-info-sub-container">
				Greater Accra
			</div>
			<div class="col-md-auto other-info-sub-container">
				Adai
			</div>
			<div class="col-md-auto other-info-sub-container">
				May Every Year
			</div>
  		</div> {% endcomment %}

		<div class="row justify-content-md-center">
			<div class="col-14">
				<h3 class="about-title">Description</h3>
			<p style="font-size: 18px;" class="tour-detail">
				{{ object.description}}
			</p>
			</div>
		</div>

    {% if tours %}
    <h3 class="about-title" style="text-align: center;padding-top: 10px;">Tour Packages</h3>
    {% comment %} {% else %}
     <h3 class="about-title" style="text-align: center;padding-top: 10px; padding-bottom: 20px;">No Tour Packages</h3> {% endcomment %}
    {% endif %}
    <div class="row justify-content-md-center">

				{% for site in tours %}

					<div class="col-md-4 ftco-animate">
								<div class="destination">
								<a href="{% url 'tours:tour_detail' site.pk %}" class="img img-2 d-flex justify-content-center align-items-center" style="background-image: url({{site.package_image.url}});">
										<div class="icon d-flex justify-content-center align-items-center">
									<span class="icon-search2"></span>
								</div>
									</a>
									<div class="text p-3">
										<div class="d-flex">
											<div class="one">
												<h3><a href="{% url 'tours:tour-detail' site.pk %}">{{site.site}}, {{site.city}}</a></h3>
												<p class="rate">
                                {% for i in "12345" %}
                                    {% if i|add:"0" <= hotel.average_rating %}
                                        <i class="icon-star"></i>
                                    {% else %}
                                        <i class="icon-star-o"></i>
                                    {% endif %}
                                {% endfor %}
                                <span>{{ hotel.average_rating }} Rating</span>
                            </p>
											</div>
											{% comment %} <div class="two">
												<span class="price">$200</span>
											</div> {% endcomment %}
										</div>
										<p>{{site.description|truncatechars:50 }}</p>
										{% comment %} <p class="days"><span>2 days 3 nights</span></p> {% endcomment %}
										<hr>
										<p class="bottom-area d-flex">
											<span><i class="icon-map-o"></i>{{site.city.state.name}}, {{site.city}}</span> 
											<span class="ml-auto">

                        <button type="button" class="btn btn-primary ml-auto roomID book__tour tour__cls" data-toggle="modal" data-tour-id="{{ site.pk }}" data-target="#exampleModalCenter"
                        data-tour-fee="{{site.fee}}"
                        >
								Book
								</button>

                      </span>
										</p>
									</div>
								</div>
                
							</div>
				{% endfor %}
        </div>
          	
        </div> <!-- .col-md-8 -->


<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Booking for {{toursite.name}}</h5>
        <button type="button" class="close btn-close first-close-btn" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        
    <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <label for="guests">Guests:</label>
          <input type="number" name="guests" min="1" max="10" class="form-control guests__field" required>
        </li>

        <li class="list-group-item d-flex justify-content-between align-items-center">
             <label for="notes">Special Request:</label>
          <textarea name="notes" class="form-control note__field" placeholder="special request"></textarea>
        </li>
                 
    </ul>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-success initiate__btn" >Pay</button>
      </div>
    </div>
  </div>
</div>

		
	</div>

{% endblock %}

{% block include_js %}
<!-- TODO:change it from global variable-->
  <script>
    const userInfo = {
      tourist: "{{user.tourist.pk}}",
      email: "{{user.email}}",
    }
  </script>

  {% block domready %}
  <script src="https://js.paystack.co/v1/inline.js"></script>
  <script src="{% static 'js/custom/tour_reservation.js' %}"></script>
  {% endblock %}
{% endblock %}