{% extends "base.html" %}
{% load static %}

{% block title %} Gallery {% endblock %}

{% block content %}
<main role="main">
  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">Gallery</h1>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">
      <div class="col-12">
        <div class="row">
          {% for image in gallery_images %}
            <a href="{{ image.image.url }}" data-toggle="lightbox" data-gallery="example-gallery" class="col-lg-3 col-md-4 col-6 my-3">
              <img src="{{ image.image.url }}"  class="gallery-image" class="img-fluid card">
              {% comment %} <img src="{{ image.image.url }}"  class="gallery-image" class="img-fluid card"> {% endcomment %}

            </a>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}

{% block include_js %}

  <!-- Ekko Lightbox JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.min.js"></script>

  <!-- Ekko Lightbox CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css" />

  <script>
    $(document).ready(function () {
      console.log("ekkoLightbox:", typeof $.fn.ekkoLightbox);
      $(document).on("click", '[data-toggle="lightbox"]', function (event) {
        event.preventDefault();
        $(this).ekkoLightbox({ alwaysShowClose: true });
      });
    });
  </script>
{% endblock %}
