{% extends 'base.html'%}
{% load top_tours_tag %}
{% load featured_festivals_tag %}
{% load popular_hotels_tag %}
{% load popular_restaurants_tag %}
{% comment %} {% load show_featured_festivals %} {% endcomment %}
{% load static %}

{% block title %} home {% endblock %}

{% block content %}
    
    <div class="hero-wrap js-fullheight" style="height:934px; background-image: url('{% static "bg_images/nk_bg.jpg" %}');">
      <div class="overlay custom-overlay">
       
      </div>
      <div class="container custom-container-padding-top
      
      ">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-start" data-scrollax-parent="true">
          <div class="col-md-9 ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
            <h1 class="mb-4" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><strong>Discover <br></strong> Ghana's festivals, attractions, foods and hotels.</h1>
            <p data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Find great tourist sites to visit, festivals to celebrate and nice places to eat or rest.</p>
            <div class="block-17 my-4">
              <form action="{% url 'tours:search' %}" method="get" class="d-block d-flex">
                <div class="fields d-block d-flex">
                  <div class="textfield-search one-third">
                  	<input type="text" class="form-control" placeholder="Tourist sites, festivals" name="search">
                  </div>
                  <div class="select-wrap one-third">
                    <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                    <select name="selected_state" id="" class="form-control" placeholder="Keyword search">
                      {% comment %} <option value="">Where</option> {% endcomment %}
                      {% for state in states %}
                        <option value="{{state.id}}">{{state.name}}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
                <input type="submit" class="search-submit btn btn-primary" value="Search">  
              </form>
            </div>
            <p>Or browse the highlights</p>
            <p class="browse d-md-flex">
				<span class="d-flex justify-content-md-center align-items-md-center"><a href="{% url 'tours:tours' %}"><i class="flaticon-meeting-point"></i>Tours</a></span> 
            	<span class="d-flex justify-content-md-center align-items-md-	center"><a href="{% url 'festivals:festivals' %}"><i class="flaticon-shopping-bag"></i>Festivals</a></span>
            	<span class="d-flex justify-content-md-center align-items-md-center"><a href="{% url 'restaurants:list_restaurant' %}"><i class="flaticon-fork"></i>Restaurant</a></span>
            	<span class="d-flex justify-content-md-center align-items-md-center"><a href="{% url 'hotels:hotels' %}"><i class="flaticon-hotel"></i>Hotel</a></span> 
            </p>
          </div>
        </div>
      </div>
    </div>

    <section class="ftco-section services-section bg-light">
      <div class="container">
        <div class="row d-flex">
          <div class="col-md-3 d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services d-block text-center">
              <div class="d-flex justify-content-center"><div class="icon"><span class="flaticon-guarantee"></span></div></div>
              <div class="media-body p-2 mt-2">
                <h3 class="heading mb-3">Best Price Guarantee</h3>
                <p>We offer unbeatable prices so you can explore Ghana without breaking the bank.
</p>
              </div>
            </div>      
          </div>
          <div class="col-md-3 d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services d-block text-center">
              <div class="d-flex justify-content-center"><div class="icon"><span class="flaticon-like"></span></div></div>
              <div class="media-body p-2 mt-2">
                <h3 class="heading mb-3">Travellers Love Us</h3>
                <p>From first-time visitors to seasoned explorers, our guests always leave with a smile and lasting memories.</p>
              </div>
            </div>    
          </div>
          <div class="col-md-3 d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services d-block text-center">
              <div class="d-flex justify-content-center"><div class="icon"><span class="flaticon-detective"></span></div></div>
              <div class="media-body p-2 mt-2">
                <h3 class="heading mb-3">Best Travel Agent</h3>
                <p>We connect you with trusted local guides to make every journey safe, smooth, and unforgettable.
</p>
              </div>
            </div>      
          </div>
          <div class="col-md-3 d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services d-block text-center">
              <div class="d-flex justify-content-center"><div class="icon"><span class="flaticon-support"></span></div></div>
              <div class="media-body p-2 mt-2">
                <h3 class="heading mb-3">Our Dedicated Support</h3>
                <p>Our team is always here to help,before, during, and after your trip.</p>
              </div>
            </div>      
          </div>
        </div>
      </div>
    </section>

	{% show_featured_festivals %}

	{% comment %} Show top tours {% endcomment %}
	{% show_top_tours %}

	{% comment %} Show Popular Hotels {% endcomment %}
	{% show_popular_hotels  %}

  	{% comment %} Show Popular Restaurants {% endcomment %}
	{% show_popular_restaurants %}
  
    <section class="ftco-section testimony-section bg-light">
      <div class="container">
        <div class="row justify-content-start">
          <div class="col-md-5 heading-section ftco-animate">
          	{% comment %} <span class="subheading">Best Cultural-</span> {% endcomment %}
            <h2 class="mb-4 pb-3"><strong>Why</strong> Choose Us?</h2>
            <p>At Cultour Gh, we bring Ghana closer to you, its beauty, culture, and hidden experience. With trusted local partners, affordable prices, and friendly support, your journey is in good hands from start to finish.</p>
            {% comment %} <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life.</p> {% endcomment %}
            {% comment %} <p><a href="#" class="btn btn-primary btn-outline-primary mt-4 px-4 py-3">Read more</a></p> {% endcomment %}
          </div>
					<div class="col-md-1"></div>
          <div class="col-md-6 heading-section ftco-animate">
          	<span class="subheading">Testimony</span>
            <h2 class="mb-4 pb-3"><strong>Our</strong> Guests Says</h2>
          	<div class="row ftco-animate">
		          <div class="col-md-12">
		            <div class="carousel-testimony owl-carousel">
		              <div class="item">
		                <div class="testimony-wrap d-flex">
		                  <div class="user-img mb-5" style="background-image: url(images/person_1.jpg)">
		                    <span class="quote d-flex align-items-center justify-content-center">
		                      <i class="icon-quote-left"></i>
		                    </span>
		                  </div>
		                  <div class="text ml-md-4">
		                    <p class="mb-5">“Visiting Ghana through Cultour Gh was the best decision ever. Everything was smooth and memorable.”</p>
		                    <p class="name">Alphones Adortse</p>
		                    <span class="position">Guest from USA</span>
		                  </div>
		                </div>
		              </div>
		              <div class="item">
		                <div class="testimony-wrap d-flex">
		                  <div class="user-img mb-5" style="background-image: url(images/person_2.jpg)">
		                    <span class="quote d-flex align-items-center justify-content-center">
		                      <i class="icon-quote-left"></i>
		                    </span>
		                  </div>
		                  <div class="text ml-md-4">
		                    <p class="mb-5">“I felt at home the moment I arrived. The culture, the people, the service, absolutely amazing.”</p>
		                    <p class="name">Gideon Gyamfi</p>
		                    <span class="position">Guest from Italy</span>
		                  </div>
		                </div>
		              </div>
		              <div class="item">
		                <div class="testimony-wrap d-flex">
		                  <div class="user-img mb-5" style="background-image: url(images/person_3.jpg)">
		                    <span class="quote d-flex align-items-center justify-content-center">
		                      <i class="icon-quote-left"></i>
		                    </span>
		                  </div>
		                  <div class="text ml-md-4">
		                    <p class="mb-5">“Every detail was perfect. I discovered places I never would have found on my own.”</p>
		                    <p class="name">Diana Acheampong</p>
		                    <span class="position">Guest from Philippines</span>
		                  </div>
		                </div>
		              </div>
		            </div>
		          </div>
		        </div>
          </div>
        </div>
      </div>
    </section>



{% endblock %}