    <section class="ftco-section bg-light">
    	<div class="container">
				<div class="row justify-content-start mb-5 pb-3">
          <div class="col-md-7 heading-section ftco-animate">
          	<span class="subheading">Special Offers</span>
            <h2 class="mb-4"><strong>Top</strong> Tour Packages</h2>
          </div>
        </div>    		
    	</div>
    	<div class="container-fluid">
    		<div class="row">
                {% for tour in top_tours %}
    			<div class="col-sm col-md-6 col-lg ftco-animate">
    				<div class="destination">
    					<a href="{% url 'tours:tour_detail' tour.pk %}" class="img img-2 d-flex justify-content-center align-items-center" style="background-image: url({{tour.image1.url}});">
    						<div class="icon d-flex justify-content-center align-items-center">
    							<span class="icon-search2"></span>
    						</div>
    					</a>
    					<div class="text p-3">
    						<div class="d-flex">
    							<div class="one">
		    						<h3><a href="{% url 'tours:tour_detail' tour.pk %}">{{tour.name}}, {{tour.city}}</a></h3>
		    						<p class="rate">
		    							<i class="icon-star"></i>
		    							<i class="icon-star"></i>
		    							<i class="icon-star"></i>
		    							<i class="icon-star"></i>
		    							<i class="icon-star-o"></i>
		    							<span>{{tour.rating}} Rating</span>
		    						</p>
	    						</div>
	    						{% comment %} <div class="two">
	    							<span class="price">₵{{tour.fee}}</span>
    							</div> {% endcomment %}
    						</div>
    						<p>{{tour.description | truncatechars:50}}</p>
    						{% comment %} <p class="days"><span>2 days 3 nights</span></p> {% endcomment %}
    						<hr>
    						<p class="bottom-area d-flex">
    							<span><i class="icon-map-o"></i>{{tour.city}}, {{tour.city.state}}</span> 
    							<span class="ml-auto"><a href="{% url 'tours:tour_detail' tour.id %}">Discover</a></span>
    						</p>
    					</div>
    				</div>
    			</div>
                {% endfor %}
    		</div>
    	</div>
    </section>